In [30]:
# Data wrangling
import pandas as pd 

# Visualization
import matplotlib.pyplot as plt 
import seaborn as sns 

# Date wrangling
import datetime

# Math operations
import numpy as np

# Random sampling
import random
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [3]:
df2005 = pd.read_csv("../data/forModels/clean_data_2005.csv", sep = ',')
df2005.index = pd.to_datetime(df2005.Date, format="%d.%m.%Y")
df2005 = df2005.drop(['Date'], axis=1)

df2006 = pd.read_csv("../data/forModels/clean_data_2006.csv", sep = ',')
df2006.index = pd.to_datetime(df2006.Date, format="%d.%m.%Y")
df2006 = df2006.drop(['Date'], axis=1)

print(f'Shape of data 2005: {df2005.shape}')
print(f'Shape of data 2006: {df2006.shape}')

df = pd.concat([df2005, df2006], axis=0)
# df = df.fillna(0)

Shape of data 2005: (165, 5)
Shape of data 2006: (165, 5)

In [10]:
df2005

              Avg    DD   DDSum  Rain  Sum_trap
Date
2005-05-01  12.93  2.93   32.13   0.0       0.0
2005-05-02  15.07  5.07   37.21   0.0       0.0
2005-05-03  16.30  6.30   43.51   3.0       0.0
2005-05-04  13.23  3.23   46.74   6.1       0.0
2005-05-05   9.33  0.00   46.74  23.0       0.0
...           ...   ...     ...   ...       ...
2005-10-08  10.29  0.29  895.14   0.0       0.0
2005-10-09   8.98  0.00  895.14   0.0       0.0
2005-10-10   9.86  0.00  895.14   0.0       0.0
2005-10-11   7.43  0.00  895.14   0.0       0.0
2005-10-12   7.25  0.00  895.14   0.0       0.0

[165 rows x 5 columns]

In [12]:
x = df.drop('Sum_trap', axis=1)
y = df['Sum_trap']

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=0)

## LinerRegression

In [16]:
slr = LinearRegression()  
slr.fit(x_train, y_train)

LinearRegression()

In [17]:
y_pred_slr= slr.predict(x_test)

In [18]:
slr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_slr})
slr_diff.head()

            Actual value  Predicted value
Date
2005-09-12           4.0         9.847324
2005-06-30          13.0         6.440001
2006-07-25          11.0        18.564859
2006-08-13           5.0         9.619610
2005-10-05           0.0         0.278494

In [20]:
x_test.shape

(99, 4)

In [22]:
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_slr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_slr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_slr))
print('R squared: {:.2f}'.format(slr.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 24.00
Mean Absolute Error: 5.48824975022981
Mean Square Error: 58.75605981581086
Root Mean Square Error: 7.665250146982214

## LogisticRegression

In [31]:
model = LogisticRegression(solver='liblinear', random_state=0).fit(x_train, y_train)

In [32]:
logreg.fit(x_train,y_train)

DecisionTreeRegressor(random_state=0)

## SVM

In [37]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'poly')
regressor.fit(x_train, y_train)

SVR(kernel='poly')

In [38]:
y_pred_svm = regressor.predict(x_test)

In [39]:
slr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_svm})
slr_diff.head()

            Actual value  Predicted value
Date
2005-08-31           9.5         4.168407
2005-07-06          69.0         5.385625
2005-09-20           0.0         3.290862
2006-07-21          21.5         4.939563
2005-09-24           0.0         3.291158

In [40]:
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_svm)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_svm)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_svm))
print('R squared: {:.2f}'.format(regressor.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: -5.04
Mean Absolute Error: 7.268487189573204
Mean Square Error: 181.1603255851173
Root Mean Square Error: 13.459581181638502